body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
header
{
    height: 10px;
    margin: 0;
    background-color: black;
    padding: 0%;
}
#duzy
{
width: 70%;
height: 100%;
margin: 0;
padding: 0;
background-color: darkkhaki;
margin-left: auto;
margin-right: auto;
}
#gora
{
    background-color: whitesmoke;
}
#gora-lewo
{
width: 70%;
display: inline-block;
font-size: 30px;
}
#gora-prawo
{
    width: 29%;
    display: inline-block;
}
.hge
{
    color: blue;
    text-align: center;
    font-size: 10px;
    display: inline-block;
    margin-left: auto;
    margin-left: auto;
    width: 32%;
}
#build
{
    text-align: center;
    padding: 20px;
}
#build-gora
{
    font-size: 50px;

}
#build-dol
{
    width: 80%;
    color: blue;
    margin: auto;
}

