body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
header
{
    height: 10px;
    margin: 0;
    background-color: black;
    padding: 0%;
}
#duzy
{
width: 60%;
height: 100%;
margin: 0;
padding: 0;
background-color:whitesmoke;
margin-left: auto;
margin-right: auto;
}
#gora
{
    background-color: whitesmoke;
}
#gora-lewo
{
width: 70%;
display: inline-block;
font-size: 30px;
}
#gora-prawo
{
    width: 29%;
    display: inline-block;
}
.hge
{
    color: blue;
    text-align: center;
    font-size: 10px;
    display: inline-block;
    margin-left: auto;
    margin-left: auto;
    width: 32%;
}
#szare
{
    background-color: lightgray;
    height: 4px;
    padding: 0;
}
#build
{
    text-align: center;
    padding: 20px;
}
#build-gora
{
    font-size: 50px;

}
#build-dol
{
    width: 80%;
    color: blue;
    margin: auto;
}
#dwa
{
    
}
#dwa-lewy
{
    
    vertical-align: top;
    display: inline-block;
    width: 49%;
}
#dwa-prawy
{
    
    vertical-align: top;
    display: inline-block;
    width: 50%;
}
#kola
{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
 justify-content: center;

}
#kolo
{
text-align: center;
 width: 200px;
 height: 200px;
 background-color: rgb(42, 150, 203);
 border-radius: 50%;
 display: inline-block;
 margin-left: -15px;
 margin-right: -15px;
 opacity: 0.5;
 color: white;
}
#kolo:hover
{
    opacity: 1;
}
#wk
{
    text-decoration: white;
    margin-top: 80px;
    vertical-align: middle;
}

#dol
{
}
#dol-oddzielne
{

    margin-left: auto;
    margin-right: auto;
}
#dol-oddzielne-h
{
    width: 24%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}
#szare2
{   background-color: lightgray;
    height: 4px;
    padding: 0;
    width: 90%;
    margin-left: 0;
}
#bl
{
    color: blue;
}